<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="ygServiceBinding" transferMode="Buffered" maxBufferPoolSize="524288000" maxBufferSize="104857600" maxReceivedMessageSize="104857600" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:02:00" maxConnections="">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="wcfNSYGShop.WCFServiceFun" behaviorConfiguration="ygWcfBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://1.1.1.6:53103/ygwcf" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding" contract="wcfNSYGShop.IWCFContract" bindingConfiguration="ygServiceBinding" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ygWcfBehavior">
          <serviceMetadata httpGetEnabled="False" />
          <dataContractSerializer maxItemsInObjectGraph="104857600" />
          <!-- 并发会话最大数,并发调用最大数,并发实例最大数 http://msdn.microsoft.com/zh-cn/library/ms731379.aspx -->
          <serviceThrottling maxConcurrentSessions="1000" maxConcurrentCalls="1000" maxConcurrentInstances="2000" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <appSettings>
    <!-- SQL执行超时时间(秒) -->
    <add key="commandTimeout" value="60" />
    <!-- 日志保存目录 -->
    <add key="errLogPath" value="E:\ServiceLog\WCF\wcfWebService\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="connStr" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.2.214)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=yungou)));User Id=yungou_item;Password=yungou; Min Pool Size=30; Max Pool Size=80; Connect Timeout=60;" providerName="Oracle.DataAccess.Client" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>